body {
    background: #E5E5E5;
    font-family: 'Red Hat Display', sans-serif;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

.header {
    width: 1130px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header-left {
    /* margin: 66px 108px 125px 0px; */
    margin-right: 108px;
}

.header-list {
    display: flex;
    list-style: none;
    width: 398px;
    justify-content: space-evenly;
    margin-top: 10px;
    margin: 72px 530px 130px 0px;
}

.header-list-link {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #25202F;
    text-decoration: none;
    opacity: 0.6;
}
.header-list-item .active {
    opacity: 1;
    font-weight: 500;
}

.header-button {
    margin: 50px 0px;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    box-shadow: 0px 20px 50px rgba(198, 185, 233, 0.3);
    border: none;
}

#hero-section {
    display: flex;
}

.hero-left {
    width: 358px;
    margin: 0px 142px 268px 165px;
}

.hero-text-hello {
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
}

.hero-title {
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 120%;
    color: #3f3d3d;
}

.hero-text-job {
    margin-block: 20px 50px;
    font-weight: normal;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
}

.hero-button {
    width: 200px;
    height: 60px;
    background: #8643DC;
    border-radius: 100px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
}

.hero-right {
    position: absolute;
    width: 535px;
    height: 622px;
    left: 664px;
    top: 46px;
}

.services-link {
    margin: 0px 0px 10px 165px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
    text-decoration: none;
}

.services-line {
    margin-top: 10px;
    margin-left: 165px;
    width: 50px;
    height: 3px;
    border: none;
    background-color: #8643DC;
}

.services-title {
    margin: 15px 0px 50px 165px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    width: 246px;
}

.services-list {
    list-style: none;
    display: flex;
    margin: 0 auto;
    width: 1110px;
    justify-content: space-evenly;
}

.services-div {
    display: flex;
    margin-block: 40px 20px;
}

.services-div img {
    margin-right: 20px;
}

.services-div-title {
    margin: 15px 0px 35px  0px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #25202F;
}

.services-text {
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
    color: #47444E;
}

.portfolio {
    margin-top: 100px;
    margin-bottom: 100px;
}

.portfolio-link {
    margin: 0px 0px 10px 165px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
    text-decoration: none;

}

.portfolio-line {
    margin-top: 10px;
    margin-left: 165px;
    width: 50px;
    height: 3px;
    border: none;
    background-color: #8643DC;
}

.portfolio-title {
    margin: 15px 0px 50px 165px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #000000;
    width: 246px;
}

.portfolio-div-link {
    position: absolute;
    width: 146px;
    height: 32px;
    left: 1095px;
    top: 1368px;
}

.portfolio-div-link a {
    text-decoration: none;
}

.portfolio-link .a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-decoration-line: underline;
    color: #25202F;
}

.portfolio-link img {
    margin-left: 5px;
}

.portfolio-img {
    display: flex;
    width: 1210px;
    justify-content: space-between;
    margin: 0 auto;
}

.clients {
 margin-block: 50px 50px;
}

.clients-link {
    margin: 0px 0px 10px 165px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
    text-decoration: none;
}

.clients-line {
    margin-top: 10px;
    margin-left: 165px;
    width: 50px;
    height: 3px;
    border: none;
    background-color: #8643DC;
}

.clients-title {
    margin: 15px 0px 50px 165px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    width: 246px;    
}

.clients-list{
    display: flex;
    width: 1110px;
    justify-content: space-between;
    margin: 0 auto;
    list-style: none;
}

.clients-list-link{
    width: 170px;
    height: 170px;
    border-radius: 10px;
    text-align: center;
    padding: 33px 60px;
}

.clients-list-link img{
    margin-bottom: 10px;
}

.slack{
    background: #FFF7FA;
    border: 1px solid #FFE7F0;
}

.medium{
    background: #EDFFF5;
    border: 1px solid #CAFFE1;
}

.microsoft{
    background: #F5FCFF;
    border: 1px solid #DDF5FF;
}

.zeplin{
    background: #FFFBF2;
    border: 1px solid #FFEEC9;
}

.shopify{
    background: #F4FFED;
    border: 1px solid #DBFFC4;
}

.testimonals{
    padding-block: 70px 70px;
}

.testimonals-link {
    margin: 0px 0px 10px 165px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643dc;
    text-decoration: none;
}

.testimonals-line {
    margin-top: 10px;
    margin-left: 165px;
    width: 50px;
    height: 3px;
    border: none;
    background-color: #8643DC;
}

.testimonals-title {
    margin: 15px 0px 50px 165px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    width: 246px;
}

.testimonals-div {
    width: 569px;
    margin: 0 auto;
    text-align: center;
}

.testimonals-text {
    margin-block:  25px 25px;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    color: #636066;
}
.testimonals-div-img{
    border-radius: 20%;
}

.testimonals-div-title{
    margin-block: 19px 5px;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
    color: #000000;
}
.dot {
    margin-top: 46px;
}

.blog {
    margin-block: 70px 70px;
    padding-top: 70px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8643DC;
}

.blog-link {
    margin: 0px 0px 10px 165px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
    text-decoration: none;
}

.blog-line {
    margin-top: 10px;
    margin-left: 165px;
    width: 50px;
    height: 3px;
    border: none;
    background-color: #8643DC;
}

.blog-div{
    display: flex;
}

.blog-title {
    margin: 5px 25px 0px 165px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    width: 165px;
}

.blog-time{
    display: block;
    margin: 20px 200px 10px 0px;
}

.blog-text{
    margin: 20px 30px 119px 0px;
    font-weight: bold;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    width: 350px;
}

.blog-img{
    margin-left: 20px;
    margin-right: 20px;
}

.contact {
    margin-block: 70px 70px;
    padding-top: 70px;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #8643DC;
}

.contact-link {
    margin: 0px 0px 10px 165px;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: #8643DC;
    text-decoration: none;
}

.contact-line {
    margin-top: 10px;
    margin-left: 165px;
    width: 50px;
    height: 3px;
    border: none;
    background-color: #8643DC;
}

.contact-div{
    width: 1310px;
    display: flex;
    justify-content: space-between;
}

.contact-title{
    margin: 15px 0px 50px 165px;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #25202F;
    width: 512px;
}

.contact-div-link {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-decoration-line: underline;
    text-transform: lowercase;
    color: #8643DC;
}

.contact-question {
    width: 1110px;
    height: 40px;
    background-color: transparent;
    display: block;
    margin: 45px auto;
    border: none;
    border-bottom: 1px solid  #A8A0B0;;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    color: #A8A0B0;
}

.contact-button{
    height: 60px;
    width: 200px;
    background: #8643DC;
    border-radius: 100px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    border: none;
    margin: 30px 0px 100px 165px;
}

.contact-footer {
    width: 270px;
    margin: 0 auto;
}

.contact-footer-title {
    font-weight: 500;
    font-size: 36px;
    line-height: 48px;
    text-align: center;
    color: #21232D;
}

.contact-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-block: 20px 80px;
}
